<!DOCTYPE html>
{% extends "blogapp/base.html" %}
    {% block body_block %}
        <h1>It's the blog index page</h1>
        <h2>Template inheritance!</h2>
    {% endblock %}    
<!-- Old way to do it before template extension -->
<!-- <html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>It's the blog index page</h1>
    </body>
</html> -->