<!DOCTYPE html>
{% extends "blogapp/base.html" %}
{% block body_block %}
    <h1>Welcome to the Homepage</h1>
    <h2>{{ inject_text | title }}</h2>
    <h2>{{ inject_num | add:"200" }}</h2>
{% endblock %}

<!-- Old way not using Template extensions -->
<!-- <html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>Welcome to the homepage</h1>
    </body>
</html> -->